-- MySQL dump 10.13  Distrib 8.0.42, for Linux (x86_64)
--
-- Host: localhost    Database: vip_english_learning
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Languages`
--

DROP TABLE IF EXISTS `Languages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Languages` (
  `LanguageID` int NOT NULL AUTO_INCREMENT,
  `LanguageCode` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `LanguageName` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `NativeName` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Flag` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `IsActive` tinyint(1) DEFAULT '1',
  `SortOrder` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`LanguageID`),
  UNIQUE KEY `LanguageCode` (`LanguageCode`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Languages`
--

LOCK TABLES `Languages` WRITE;
/*!40000 ALTER TABLE `Languages` DISABLE KEYS */;
INSERT INTO `Languages` VALUES (1,'vi','Vietnamese','Tiß║┐ng Viß╗çt','≡ƒç╗≡ƒç│',1,1,'2025-10-15 16:04:24'),(2,'en','English','English','≡ƒç║≡ƒç╕',1,2,'2025-10-15 16:04:24'),(3,'zh','Chinese','Σ╕¡µûç','≡ƒç¿≡ƒç│',1,3,'2025-10-15 16:04:24'),(4,'ko','Korean','φò£Ω╡¡∞û┤','≡ƒç░≡ƒç╖',1,4,'2025-10-15 16:04:24'),(5,'ja','Japanese','µùÑµ£¼Φ¬₧','≡ƒç»≡ƒç╡',1,5,'2025-10-15 16:04:24'),(6,'th','Thai','α╣äα╕ùα╕ó','≡ƒç╣≡ƒç¡',1,6,'2025-10-15 16:04:24');
/*!40000 ALTER TABLE `Languages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `NewsArticles`
--

DROP TABLE IF EXISTS `NewsArticles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `NewsArticles` (
  `ArticleID` int NOT NULL AUTO_INCREMENT,
  `Title` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Content` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `Summary` text COLLATE utf8mb4_unicode_ci,
  `SourceID` int NOT NULL,
  `LanguageID` int NOT NULL,
  `Category` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `DifficultyLevel` enum('Beginner','Intermediate','Advanced') COLLATE utf8mb4_unicode_ci DEFAULT 'Intermediate',
  `ReadingTime` int DEFAULT NULL,
  `WordCount` int DEFAULT NULL,
  `IsActive` tinyint(1) DEFAULT '1',
  `PublishedAt` timestamp NULL DEFAULT NULL,
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `UpdatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`ArticleID`),
  KEY `SourceID` (`SourceID`),
  KEY `LanguageID` (`LanguageID`),
  CONSTRAINT `NewsArticles_ibfk_1` FOREIGN KEY (`SourceID`) REFERENCES `NewsSources` (`SourceID`),
  CONSTRAINT `NewsArticles_ibfk_2` FOREIGN KEY (`LanguageID`) REFERENCES `Languages` (`LanguageID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `NewsArticles`
--

LOCK TABLES `NewsArticles` WRITE;
/*!40000 ALTER TABLE `NewsArticles` DISABLE KEYS */;
/*!40000 ALTER TABLE `NewsArticles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `NewsSources`
--

DROP TABLE IF EXISTS `NewsSources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `NewsSources` (
  `SourceID` int NOT NULL AUTO_INCREMENT,
  `SourceName` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `SourceURL` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `LanguageID` int NOT NULL,
  `Category` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `IsActive` tinyint(1) DEFAULT '1',
  `CreatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `UpdatedAt` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`SourceID`),
  KEY `LanguageID` (`LanguageID`),
  CONSTRAINT `NewsSources_ibfk_1` FOREIGN KEY (`LanguageID`) REFERENCES `Languages` (`LanguageID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `NewsSources`
--

LOCK TABLES `NewsSources` WRITE;
/*!40000 ALTER TABLE `NewsSources` DISABLE KEYS */;
INSERT INTO `NewsSources` VALUES (1,'BBC News','https://www.bbc.com/news',1,'General',1,'2025-10-16 06:19:57','2025-10-16 06:19:57'),(2,'CNN','https://www.cnn.com',1,'General',1,'2025-10-16 06:19:57','2025-10-16 06:19:57'),(3,'Reuters','https://www.reuters.com',1,'General',1,'2025-10-16 06:19:57','2025-10-16 06:19:57');
/*!40000 ALTER TABLE `NewsSources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Topics`
--

DROP TABLE IF EXISTS `Topics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Topics` (
  `TopicID` int NOT NULL AUTO_INCREMENT,
  `LanguageID` int NOT NULL,
  `Title` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Description` text COLLATE utf8mb4_unicode_ci,
  `Level` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT 'A1',
  `Icon` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 0xF09F939A,
  `Color` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT '#3B82F6',
  `IsActive` tinyint(1) DEFAULT '1',
  `SortOrder` int DEFAULT '0',
  `VocabularyCount` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`TopicID`),
  KEY `LanguageID` (`LanguageID`),
  CONSTRAINT `Topics_ibfk_1` FOREIGN KEY (`LanguageID`) REFERENCES `Languages` (`LanguageID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Topics`
--

LOCK TABLES `Topics` WRITE;
/*!40000 ALTER TABLE `Topics` DISABLE KEYS */;
/*!40000 ALTER TABLE `Topics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Vocabulary`
--

DROP TABLE IF EXISTS `Vocabulary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Vocabulary` (
  `WordID` int NOT NULL AUTO_INCREMENT,
  `Word` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Phonetic` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Meaning` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `Example` text COLLATE utf8mb4_unicode_ci,
  `Audio` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `TopicID` int NOT NULL,
  `LanguageID` int NOT NULL,
  `Difficulty` enum('Easy','Medium','Hard') COLLATE utf8mb4_unicode_ci DEFAULT 'Easy',
  `IsActive` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`WordID`),
  KEY `TopicID` (`TopicID`),
  KEY `LanguageID` (`LanguageID`),
  CONSTRAINT `Vocabulary_ibfk_1` FOREIGN KEY (`TopicID`) REFERENCES `Topics` (`TopicID`) ON DELETE CASCADE,
  CONSTRAINT `Vocabulary_ibfk_2` FOREIGN KEY (`LanguageID`) REFERENCES `Languages` (`LanguageID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=324 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Vocabulary`
--

LOCK TABLES `Vocabulary` WRITE;
/*!40000 ALTER TABLE `Vocabulary` DISABLE KEYS */;
/*!40000 ALTER TABLE `Vocabulary` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-16  7:14:53
